<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <Title>FASHION</Title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-6 col-sm-offset-3">
        <br><br>
        <h2 style="color:#0fad00">Order Placed Sucessfully</h2>
        <img src="https://freepngimg.com/thumb/success/3-2-success-transparent-thumb.png">
        <h3></h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for your shopping with us</p>
        <a href="/keepshopping" class="btn btn-success">     Keep Shopping     </a>
        <br><br>
      </div>

    </div>
  </div>
</body>

</html>